HackathonB2NiFIFlow.json
{"flowContents":{"identifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","instanceIdentifier":"df484a5a-0185-1000-ffff-ffffb278af39","name":"Hackathon","comments":"","position":{"x":760.0,"y":120.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f86aed09-0d4b-33c0-b5d2-70e533c0b1f3","instanceIdentifier":"8efaaf22-ba95-31ad-a81a-c8f208faf9c7","name":"EvaluateJsonPath","comments":"","position":{"x":1328.0,"y":1296.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Destination":"flowfile-attribute","messageKey":"$.postid","sentiment":"$.sentiment","Return Type":"auto-detect","Null Value Representation":"empty string","tweet":"$.text","userid":"$.user.userid","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"messageKey":{"name":"messageKey","displayName":"messageKey","identifiesControllerService":false,"sensitive":false},"sentiment":{"name":"sentiment","displayName":"sentiment","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"tweet":{"name":"tweet","displayName":"tweet","identifiesControllerService":false,"sensitive":false},"userid":{"name":"userid","displayName":"userid","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"8e72e66d-1731-3d9e-a647-b1393b8588bf","instanceIdentifier":"320c61e3-d0d8-1dfc-0000-00003927b6aa","name":"ConvertRecord","comments":"","position":{"x":40.0,"y":1840.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"record-writer":"ba9bc26b-7268-39e0-a6d3-06696cb96aea","record-reader":"cf34cd9e-46c1-3aa9-8a83-b54fc7c792f8","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"3021da5b-a127-3804-8b16-f3814a553022","instanceIdentifier":"320c6549-d0d8-1dfc-ffff-ffffe4fdaa50","name":"LogAttribute","comments":"","position":{"x":680.0,"y":2280.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"184da334-9a91-396f-84fd-31f6f1819ae9","instanceIdentifier":"320c3095-d0d8-1dfc-98f5-c7a317e33016","name":"AttributesToJSON","comments":"","position":{"x":488.0,"y":1600.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"postid,modelresponse,modelvalues,network,imageURL","Include Core Attributes":"true"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"97f7be7c-d87f-3c83-bb7c-84bfef259221","instanceIdentifier":"446526b2-89ce-3fb8-ae3b-b050c4d934f0","name":"AttributesToJSON","comments":"","position":{"x":1328.0,"y":1488.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"tweet, userid, sentiment","Include Core Attributes":"true"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"3f59fe19-df54-30a4-b630-7e36e841184b","instanceIdentifier":"777d7f28-9ca7-3571-b6f1-d368f707e814","name":"EvaluateJsonPath","comments":"","position":{"x":1704.0,"y":744.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","imageURL":"$.image","Null Value Representation":"empty string","postid":"$.postid","Path Not Found Behavior":"ignore","network":"$.network"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"imageURL":{"name":"imageURL","displayName":"imageURL","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"postid":{"name":"postid","displayName":"postid","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"network":{"name":"network","displayName":"network","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"d55c8d60-a389-3b6c-a47a-3fac4c86672d","instanceIdentifier":"320c61ca-d0d8-1dfc-0000-00006bae9099","name":"MergeRecord","comments":"","position":{"x":40.0,"y":2064.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"max-bin-age":null,"correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"10","max-bin-size":null,"record-writer":"ba9bc26b-7268-39e0-a6d3-06696cb96aea","merge-strategy":"Bin-Packing Algorithm","record-reader":"cf253143-484c-332e-af99-0e6567ee3b73","max-records":"100","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"2c3fd56b-653e-3884-a7b3-1123c4e2e836","instanceIdentifier":"d3cd06d4-fb61-3de4-8fa4-6ee791b5e4f1","name":"LogMessage","comments":"","position":{"x":2088.0,"y":1296.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"88571f7d-640f-31f9-9b59-8a159c724eab","instanceIdentifier":"0052b3cd-b8f9-3df0-8c41-999d068f1290","name":"RouteOnAttribute_NotTweets","comments":"","position":{"x":2464.0,"y":1088.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Routing Strategy":"Route to Property name","network":"${network:equals(\"twitter\"):not()}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"network":{"name":"network","displayName":"network","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"26504bb3-116a-3d7a-981e-a7cc6db98861","instanceIdentifier":"9f7c7453-fe0e-373d-bd16-100345ab48c8","name":"InvokeHTTP","comments":"","position":{"x":496.0,"y":1136.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://10.10.2.113:4488/detectB2obj/${postid}?q=${imageURL}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"INFO","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"f2ee5f6f-4e62-33c6-bab5-c587b4ac021c","instanceIdentifier":"1237ddbe-e2a1-3148-b112-8636b8496a0d","name":"Route On Facebook","comments":"","position":{"x":2088.0,"y":1088.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Routing Strategy":"Route to Property name","network":"${network:equals(\"facebook\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"network":{"name":"network","displayName":"network","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"9ada779c-ff13-32b2-8c8b-96597792f882","instanceIdentifier":"fe0bf79b-b499-3e43-bd06-fd9c0a73dab7","name":"PublishKafkaRecord_2_6","comments":"","position":{"x":680.0,"y":1840.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"af7b7889-7348-330b-8950-bc1e7da50a63","bootstrap.servers":"bhagan-sm-corebroker1.bhagan-a.a465-9q4k.cloudera.site:9093,bhagan-sm-corebroker2.bhagan-a.a465-9q4k.cloudera.site:9093,bhagan-sm-corebroker0.bhagan-a.a465-9q4k.cloudera.site:9093","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"PLAIN","max.block.ms":"25 sec","record-reader":"cf34cd9e-46c1-3aa9-8a83-b54fc7c792f8","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"10 secs","sasl.username":"bhagan","use-transactions":"false","acks":"0","Record Metadata Strategy":"Use Configured Values","security.protocol":"SASL_SSL","ssl.context.service":"56b48510-c84f-3f5b-af6c-e14f5aecd75d","max.request.size":"500 KB","sasl.token.auth":"false","message-key-field":"${messageKey}","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"b2results1","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"431daed4-a788-3aa3-aa79-204a0986ff2a","instanceIdentifier":"82bce521-1f10-3d50-8e1c-70fba36ffc4d","name":"Social Searcher - Source 1","comments":"","position":{"x":1712.0,"y":232.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.social-searcher.com/v2/search?q=\"B2 Bombers\"&type=photo&limit=100&lang=en ","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"43c3c2d3-3716-3ce6-bd6b-15257230f008","instanceIdentifier":"d7800208-dbbb-308c-b716-84d6d76f25f5","name":"RouteOnAttribute_Tweets","comments":"","position":{"x":1328.0,"y":1088.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Routing Strategy":"Route to Property name","network":"${network:equals(\"twitter\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"network":{"name":"network","displayName":"network","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"0302482f-41f3-3eae-8803-f2151e0a9db6","instanceIdentifier":"df49e7b4-0185-1000-ffff-ffffe6e1c259","name":"Filter for .jpg","comments":"","position":{"x":488.0,"y":824.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Routing Strategy":"Route to Property name","isJPEG":"${imageURL:contains('.jpg'):and(${imageURL:contains('webp'):not()})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"isJPEG":{"name":"isJPEG","displayName":"isJPEG","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"554e643f-c35c-3146-8047-af0ca8076958","instanceIdentifier":"ac74ff21-b9cc-38ae-8588-32320580f298","name":"PublishKafkaRecord_2_6","comments":"","position":{"x":1328.0,"y":1696.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"af7b7889-7348-330b-8950-bc1e7da50a63","bootstrap.servers":"bhagan-sm-corebroker0.bhagan-a.a465-9q4k.cloudera.site:9093,bhagan-sm-corebroker1.bhagan-a.a465-9q4k.cloudera.site:9093,bhagan-sm-corebroker2.bhagan-a.a465-9q4k.cloudera.site:9093","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"PLAIN","max.block.ms":"25 sec","record-reader":"cf34cd9e-46c1-3aa9-8a83-b54fc7c792f8","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"10 secs","sasl.username":"bhagan","use-transactions":"false","acks":"0","Record Metadata Strategy":"Use Configured Values","security.protocol":"SASL_SSL","ssl.context.service":"cbbbae5a-3843-3f13-a38b-8cd49adcb728","max.request.size":"500 KB","sasl.token.auth":"false","message-key-field":"${messageKey}","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"justtacotweets","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"65c926ad-bfc5-3cd5-8332-4f2ae3674b98","instanceIdentifier":"3555aa54-bcc1-3d83-bd2b-4485f74e6a23","name":"SplitJson","comments":"","position":{"x":1712.0,"y":512.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.posts"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"e5bb1a3c-8c00-3619-a46f-078446c3720c","instanceIdentifier":"320c434b-d0d8-1dfc-0000-0000690eb012","name":"ExtractText","comments":"","position":{"x":496.0,"y":1368.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","model.values":"(?s)(0\\.\\d*)","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","body":"(?s)(.*)","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","model.response":"(?s)('B2\\w*')","modelvalues":"(?s)(0\\.\\d*)","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false","modelresponse":"(?s)('B2\\w*')"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"model.values":{"name":"model.values","displayName":"model.values","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"body":{"name":"body","displayName":"body","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"model.response":{"name":"model.response","displayName":"model.response","identifiesControllerService":false,"sensitive":false},"modelvalues":{"name":"modelvalues","displayName":"modelvalues","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false},"modelresponse":{"name":"modelresponse","displayName":"modelresponse","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"bf74a9d6-6293-32b7-947b-06f72dfcc430","instanceIdentifier":"bf89ae47-6081-3e91-9003-34a33d9d8d9a","name":"Route On InstaGram","comments":"","position":{"x":1704.0,"y":1088.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Routing Strategy":"Route to Property name","network":"${network:equals(\"instagram\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"network":{"name":"network","displayName":"network","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"8844442d-f6d3-30f5-a054-41e23b4689f8","instanceIdentifier":"320c646a-d0d8-1dfc-ffff-ffffebbd9c37","name":"PutCDPObjectStore","comments":"","position":{"x":40.0,"y":2280.0},"type":"org.apache.nifi.processors.hadoop.PutCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.2.6.0-260"},"properties":{"kerberos-credentials-service":null,"cdp-storage-location":"s3a://bhagan-cdp/","Kerberos Principal":"jazariah","writing-strategy":"simpleWrite","Directory":"/my-data/results/b2/","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"86eb8743-73a1-3c65-91fb-4890e9e5f83c","instanceIdentifier":"320c61ea-d0d8-1dfc-0000-00000e8e4a4a","name":"","source":{"id":"184da334-9a91-396f-84fd-31f6f1819ae9","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"AttributesToJSON","comments":"","instanceIdentifier":"320c3095-d0d8-1dfc-98f5-c7a317e33016"},"destination":{"id":"8e72e66d-1731-3d9e-a647-b1393b8588bf","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"ConvertRecord","comments":"","instanceIdentifier":"320c61e3-d0d8-1dfc-0000-00003927b6aa"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"56a910fc-fa61-3378-bc63-c7abcb72fde9","instanceIdentifier":"852883cb-2f9d-3912-94fc-d4b1496d5836","name":"","source":{"id":"bf74a9d6-6293-32b7-947b-06f72dfcc430","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"Route On InstaGram","comments":"","instanceIdentifier":"bf89ae47-6081-3e91-9003-34a33d9d8d9a"},"destination":{"id":"2c3fd56b-653e-3884-a7b3-1123c4e2e836","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"LogMessage","comments":"","instanceIdentifier":"d3cd06d4-fb61-3de4-8fa4-6ee791b5e4f1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["network"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1880.0,"y":1360.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"4bc144f8-b41f-358d-af64-bc5c4fe4ff47","instanceIdentifier":"320c6551-d0d8-1dfc-ffff-ffffe9738bd0","name":"","source":{"id":"8844442d-f6d3-30f5-a054-41e23b4689f8","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"320c646a-d0d8-1dfc-ffff-ffffebbd9c37"},"destination":{"id":"3021da5b-a127-3804-8b16-f3814a553022","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"LogAttribute","comments":"","instanceIdentifier":"320c6549-d0d8-1dfc-ffff-ffffe4fdaa50"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":536.0,"y":2424.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"bbac19c5-93d4-3125-a8f9-c5748745945f","instanceIdentifier":"df4ff362-0185-1000-ffff-ffffccccc8b2","name":"","source":{"id":"0302482f-41f3-3eae-8803-f2151e0a9db6","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"Filter for .jpg","comments":"","instanceIdentifier":"df49e7b4-0185-1000-ffff-ffffe6e1c259"},"destination":{"id":"26504bb3-116a-3d7a-981e-a7cc6db98861","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"InvokeHTTP","comments":"","instanceIdentifier":"9f7c7453-fe0e-373d-bd16-100345ab48c8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["isJPEG"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"6e65a228-1c38-3b0b-a767-5ed1b3cabe71","instanceIdentifier":"42720c92-9111-3e99-bdfc-059049bacc26","name":"","source":{"id":"43c3c2d3-3716-3ce6-bd6b-15257230f008","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"RouteOnAttribute_Tweets","comments":"","instanceIdentifier":"d7800208-dbbb-308c-b716-84d6d76f25f5"},"destination":{"id":"f86aed09-0d4b-33c0-b5d2-70e533c0b1f3","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"8efaaf22-ba95-31ad-a81a-c8f208faf9c7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["network"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"77814d23-3cd5-371b-8063-166bfdb7724e","instanceIdentifier":"320c6239-d0d8-1dfc-ffff-ffff8f906bdc","name":"","source":{"id":"8e72e66d-1731-3d9e-a647-b1393b8588bf","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"ConvertRecord","comments":"","instanceIdentifier":"320c61e3-d0d8-1dfc-0000-00003927b6aa"},"destination":{"id":"d55c8d60-a389-3b6c-a47a-3fac4c86672d","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"MergeRecord","comments":"","instanceIdentifier":"320c61ca-d0d8-1dfc-0000-00006bae9099"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"4a010812-bfef-3ad6-8878-1d47eaaac96c","instanceIdentifier":"f2745f3d-490d-36a1-b680-73300964b42d","name":"","source":{"id":"88571f7d-640f-31f9-9b59-8a159c724eab","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"RouteOnAttribute_NotTweets","comments":"","instanceIdentifier":"0052b3cd-b8f9-3df0-8c41-999d068f1290"},"destination":{"id":"2c3fd56b-653e-3884-a7b3-1123c4e2e836","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"LogMessage","comments":"","instanceIdentifier":"d3cd06d4-fb61-3de4-8fa4-6ee791b5e4f1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["network"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2640.0,"y":1360.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"b6bec88d-6319-3438-b6d6-c22995532d91","instanceIdentifier":"320c434e-d0d8-1dfc-ffff-ffff8e6ea15c","name":"","source":{"id":"26504bb3-116a-3d7a-981e-a7cc6db98861","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"InvokeHTTP","comments":"","instanceIdentifier":"9f7c7453-fe0e-373d-bd16-100345ab48c8"},"destination":{"id":"e5bb1a3c-8c00-3619-a46f-078446c3720c","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"ExtractText","comments":"","instanceIdentifier":"320c434b-d0d8-1dfc-0000-0000690eb012"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"a7cf08a3-a707-3bb3-9f46-3d47372c9b0a","instanceIdentifier":"ab1aea1c-ec6b-37f7-b347-21b3536a6383","name":"","source":{"id":"3f59fe19-df54-30a4-b630-7e36e841184b","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"777d7f28-9ca7-3571-b6f1-d368f707e814"},"destination":{"id":"88571f7d-640f-31f9-9b59-8a159c724eab","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"RouteOnAttribute_NotTweets","comments":"","instanceIdentifier":"0052b3cd-b8f9-3df0-8c41-999d068f1290"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2640.0,"y":936.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"97632fcc-61a8-3112-88e5-ef6ed9659ab7","instanceIdentifier":"df5030d4-0185-1000-0000-0000683fedbd","name":"","source":{"id":"0302482f-41f3-3eae-8803-f2151e0a9db6","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"Filter for .jpg","comments":"","instanceIdentifier":"df49e7b4-0185-1000-ffff-ffffe6e1c259"},"destination":{"id":"dd5feb60-6fdc-38f8-b3e9-54f5b019ecdb","type":"FUNNEL","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"Funnel","comments":"","instanceIdentifier":"df5012f2-0185-1000-0000-000015cb52c4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"7d0d7395-dbab-3075-9ad5-1a8acec80a33","instanceIdentifier":"919298cf-8025-35fd-9eae-67133569951a","name":"","source":{"id":"97f7be7c-d87f-3c83-bb7c-84bfef259221","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"AttributesToJSON","comments":"","instanceIdentifier":"446526b2-89ce-3fb8-ae3b-b050c4d934f0"},"destination":{"id":"554e643f-c35c-3146-8047-af0ca8076958","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"ac74ff21-b9cc-38ae-8588-32320580f298"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1504.0,"y":1656.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"b8fa28c8-dda7-3631-913f-c0cf78b15f0c","instanceIdentifier":"320c4372-d0d8-1dfc-0000-00004b4366bf","name":"","source":{"id":"e5bb1a3c-8c00-3619-a46f-078446c3720c","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"ExtractText","comments":"","instanceIdentifier":"320c434b-d0d8-1dfc-0000-0000690eb012"},"destination":{"id":"184da334-9a91-396f-84fd-31f6f1819ae9","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"AttributesToJSON","comments":"","instanceIdentifier":"320c3095-d0d8-1dfc-98f5-c7a317e33016"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"81bcdd34-6307-3501-a793-4c8d91f76a53","instanceIdentifier":"d78193d1-2981-3117-ae55-15c59b3a9302","name":"","source":{"id":"f2ee5f6f-4e62-33c6-bab5-c587b4ac021c","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"Route On Facebook","comments":"","instanceIdentifier":"1237ddbe-e2a1-3148-b112-8636b8496a0d"},"destination":{"id":"2c3fd56b-653e-3884-a7b3-1123c4e2e836","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"LogMessage","comments":"","instanceIdentifier":"d3cd06d4-fb61-3de4-8fa4-6ee791b5e4f1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["network"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2264.0,"y":1256.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"da89f22c-2d18-3a6a-a991-e38a18d251f0","instanceIdentifier":"03d0ec90-0186-1000-0000-00004bd8a5c1","name":"","source":{"id":"3f59fe19-df54-30a4-b630-7e36e841184b","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"777d7f28-9ca7-3571-b6f1-d368f707e814"},"destination":{"id":"43c3c2d3-3716-3ce6-bd6b-15257230f008","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"RouteOnAttribute_Tweets","comments":"","instanceIdentifier":"d7800208-dbbb-308c-b716-84d6d76f25f5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"12ff22b8-d662-3b7a-b382-2f7c97c87dec","instanceIdentifier":"03d968b3-0186-1000-0000-000035fb8319","name":"","source":{"id":"9ada779c-ff13-32b2-8c8b-96597792f882","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"fe0bf79b-b499-3e43-bd06-fd9c0a73dab7"},"destination":{"id":"3021da5b-a127-3804-8b16-f3814a553022","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"LogAttribute","comments":"","instanceIdentifier":"320c6549-d0d8-1dfc-ffff-ffffe4fdaa50"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"3b504f3e-befe-3cdc-b6dc-4ef125f550fd","instanceIdentifier":"320c654c-d0d8-1dfc-0000-000017966d01","name":"","source":{"id":"8844442d-f6d3-30f5-a054-41e23b4689f8","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"320c646a-d0d8-1dfc-ffff-ffffebbd9c37"},"destination":{"id":"3021da5b-a127-3804-8b16-f3814a553022","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"LogAttribute","comments":"","instanceIdentifier":"320c6549-d0d8-1dfc-ffff-ffffe4fdaa50"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"37d0b3b2-1242-3315-95a6-38f35a132944","instanceIdentifier":"99264a6a-5e69-3a24-94f8-d53db3b07b18","name":"","source":{"id":"65c926ad-bfc5-3cd5-8332-4f2ae3674b98","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"SplitJson","comments":"","instanceIdentifier":"3555aa54-bcc1-3d83-bd2b-4485f74e6a23"},"destination":{"id":"3f59fe19-df54-30a4-b630-7e36e841184b","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"777d7f28-9ca7-3571-b6f1-d368f707e814"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"3a5b0f29-138a-345d-b7ac-caa75f6b9b1f","instanceIdentifier":"36be2820-0ee9-3bfd-9a69-9460d4842e94","name":"","source":{"id":"f86aed09-0d4b-33c0-b5d2-70e533c0b1f3","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"8efaaf22-ba95-31ad-a81a-c8f208faf9c7"},"destination":{"id":"97f7be7c-d87f-3c83-bb7c-84bfef259221","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"AttributesToJSON","comments":"","instanceIdentifier":"446526b2-89ce-3fb8-ae3b-b050c4d934f0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"c2d5d693-da9e-3d3e-9a3b-785159ffc94e","instanceIdentifier":"2dfd272b-b998-3227-bcc0-1e623d11d876","name":"","source":{"id":"26504bb3-116a-3d7a-981e-a7cc6db98861","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"InvokeHTTP","comments":"","instanceIdentifier":"9f7c7453-fe0e-373d-bd16-100345ab48c8"},"destination":{"id":"ad79c2fa-13a4-3652-af9b-661706149fa8","type":"FUNNEL","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"Funnel","comments":"","instanceIdentifier":"57c4801f-c10c-3e8b-ac38-9a85220da9d3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"fc7d9355-ac65-3df2-8c56-028e2310e97d","instanceIdentifier":"320c6485-d0d8-1dfc-ffff-ffffa215b7b1","name":"","source":{"id":"d55c8d60-a389-3b6c-a47a-3fac4c86672d","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"MergeRecord","comments":"","instanceIdentifier":"320c61ca-d0d8-1dfc-0000-00006bae9099"},"destination":{"id":"8844442d-f6d3-30f5-a054-41e23b4689f8","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"320c646a-d0d8-1dfc-ffff-ffffebbd9c37"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"26c12736-54e0-3e87-a3d1-c695ea878ae3","instanceIdentifier":"0cec9341-de91-32b6-baef-6386bf15bd85","name":"","source":{"id":"3f59fe19-df54-30a4-b630-7e36e841184b","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"777d7f28-9ca7-3571-b6f1-d368f707e814"},"destination":{"id":"f2ee5f6f-4e62-33c6-bab5-c587b4ac021c","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"Route On Facebook","comments":"","instanceIdentifier":"1237ddbe-e2a1-3148-b112-8636b8496a0d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2264.0,"y":1048.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"0fa62ca9-2a41-3fae-841f-1076a4067273","instanceIdentifier":"320c30a8-d0d8-1dfc-ffff-ffffb221686c","name":"","source":{"id":"184da334-9a91-396f-84fd-31f6f1819ae9","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"AttributesToJSON","comments":"","instanceIdentifier":"320c3095-d0d8-1dfc-98f5-c7a317e33016"},"destination":{"id":"9ada779c-ff13-32b2-8c8b-96597792f882","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"fe0bf79b-b499-3e43-bd06-fd9c0a73dab7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"d10c8624-eff1-3a21-b3d3-ef7ddbad88e1","instanceIdentifier":"03d9ae20-0186-1000-ffff-fffff1839163","name":"","source":{"id":"9ada779c-ff13-32b2-8c8b-96597792f882","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"fe0bf79b-b499-3e43-bd06-fd9c0a73dab7"},"destination":{"id":"3021da5b-a127-3804-8b16-f3814a553022","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"LogAttribute","comments":"","instanceIdentifier":"320c6549-d0d8-1dfc-ffff-ffffe4fdaa50"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":696.0,"y":2176.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"f11b73c0-c000-3215-8c7b-a7af7f8c7841","instanceIdentifier":"df3b9b0b-be6d-3d77-96ba-ca850576da6f","name":"","source":{"id":"3f59fe19-df54-30a4-b630-7e36e841184b","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"777d7f28-9ca7-3571-b6f1-d368f707e814"},"destination":{"id":"bf74a9d6-6293-32b7-947b-06f72dfcc430","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"Route On InstaGram","comments":"","instanceIdentifier":"bf89ae47-6081-3e91-9003-34a33d9d8d9a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1880.0,"y":1048.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"a66dfb4f-9c88-35a9-9b98-ed029400e3e0","instanceIdentifier":"72a8a9e3-8068-33ab-874b-d6d71b981dc9","name":"","source":{"id":"431daed4-a788-3aa3-aa79-204a0986ff2a","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"Social Searcher - Source 1","comments":"","instanceIdentifier":"82bce521-1f10-3d50-8e1c-70fba36ffc4d"},"destination":{"id":"65c926ad-bfc5-3cd5-8332-4f2ae3674b98","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"SplitJson","comments":"","instanceIdentifier":"3555aa54-bcc1-3d83-bd2b-4485f74e6a23"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"6d92b1b2-a816-3152-b4f5-2536699cd70f","instanceIdentifier":"bab1d564-a453-349b-9db9-7c71a6479ed3","name":"","source":{"id":"3f59fe19-df54-30a4-b630-7e36e841184b","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"777d7f28-9ca7-3571-b6f1-d368f707e814"},"destination":{"id":"0302482f-41f3-3eae-8803-f2151e0a9db6","type":"PROCESSOR","groupId":"66a965ed-6dc4-31ea-81aa-113cd9d263b2","name":"Filter for .jpg","comments":"","instanceIdentifier":"df49e7b4-0185-1000-ffff-ffffe6e1c259"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1200.0,"y":872.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"}],"labels":[{"identifier":"2782559f-ead9-32c0-a2d1-fca8c3f360fc","instanceIdentifier":"03d298b6-0186-1000-0000-00007206b4f1","position":{"x":1192.0,"y":1016.0},"label":"Generic parsing framework for Twitter, Instagram, and Facebook.  \nPlease ignore for this project","zIndex":0,"width":1664.0,"height":936.0,"style":{"background-color":"#fffcd4","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"7eed5a54-6d2e-34b8-b6a2-a885daa2ede6","instanceIdentifier":"03d1542b-0186-1000-ffff-ffffd3f48d34","position":{"x":1488.0,"y":208.0},"label":"Load JSON dataset from \nSocial Search website \nbased on a search term. ","zIndex":0,"width":672.0,"height":232.0,"style":{"background-color":"#d6fffe","font-size":"16px"},"componentType":"LABEL","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"7dadf297-8e4d-38cc-9837-09cbf26dd477","instanceIdentifier":"03e2bcf2-0186-1000-ffff-ffffa2e8b6aa","position":{"x":8.0,"y":744.0},"label":"Filter images and only use JPG because the ML model is only expecting these image types\n","zIndex":0,"width":856.0,"height":232.0,"style":{"background-color":"#d6ffe4","font-size":"16px"},"componentType":"LABEL","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"a38b4c30-cb16-3bdc-8eb8-e1eef4a9385a","instanceIdentifier":"b43c3fc8-6820-1730-8c0a-2c0883264d43","position":{"x":552.0,"y":1832.0},"label":"Write JSON \nto Kafka","zIndex":1,"width":560.0,"height":240.0,"style":{"background-color":"#ffd6fc","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"52614d07-eaa5-366b-99c6-6195343b6ee3","instanceIdentifier":"64663875-c507-121d-bd3c-05a50b61f3a2","position":{"x":8.0,"y":1104.0},"label":"Call the ML Model through the API \nrunning on the edge node.","zIndex":0,"width":864.0,"height":176.0,"style":{"background-color":"#d6fff7","font-size":"16px"},"componentType":"LABEL","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"db546f9d-d74b-3876-946e-679d5c7e0566","instanceIdentifier":"72bf397e-48cc-17c2-aa45-4fd6448cb775","position":{"x":8.0,"y":1352.0},"label":"Extract the ML model response and convert to JSON","zIndex":0,"width":872.0,"height":392.0,"style":{"background-color":"#d6f8ff","font-size":"16px"},"componentType":"LABEL","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"4880b7a2-8873-3e15-9619-2388d83e9326","instanceIdentifier":"03e1f2f1-0186-1000-ffff-ffff8b1b1b2a","position":{"x":-536.0,"y":728.0},"label":"Cloudera SE Hackathon 2023! ","zIndex":0,"width":1664.0,"height":1776.0,"style":{"background-color":"#ffe2d6","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"435b3b4f-7eb4-3ccd-af10-914e40ee5764","instanceIdentifier":"72bf399d-48cc-17c2-0000-00004e62beac","position":{"x":-384.0,"y":1832.0},"label":"Convert results to CSV, \nmerge rows, \nand write into CSV record to CDP","zIndex":2,"width":800.0,"height":592.0,"style":{"background-color":"#d6dbff","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"}],"funnels":[{"identifier":"dd5feb60-6fdc-38f8-b3e9-54f5b019ecdb","instanceIdentifier":"df5012f2-0185-1000-0000-000015cb52c4","position":{"x":72.0,"y":864.0},"componentType":"FUNNEL","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"ad79c2fa-13a4-3652-af9b-661706149fa8","instanceIdentifier":"57c4801f-c10c-3e8b-ac38-9a85220da9d3","position":{"x":72.0,"y":1200.0},"componentType":"FUNNEL","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"}],"controllerServices":[{"identifier":"ba9bc26b-7268-39e0-a6d3-06696cb96aea","instanceIdentifier":"320c61f0-d0d8-1dfc-ffff-ffff97f6adf3","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.2.6.0-260"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"cf253143-484c-332e-af99-0e6567ee3b73","instanceIdentifier":"320c6266-d0d8-1dfc-ffff-ffffeb79c1a9","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.2.6.0-260"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"cf34cd9e-46c1-3aa9-8a83-b54fc7c792f8","instanceIdentifier":"36503947-cb3c-3b39-a542-a3ac6cd11082","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.2.6.0-260"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"af7b7889-7348-330b-8950-bc1e7da50a63","instanceIdentifier":"0ead016e-c9b3-34e4-96cc-bc56b3c6cad9","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.2.6.0-260"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"66a965ed-6dc4-31ea-81aa-113cd9d263b2"},{"identifier":"56b48510-c84f-3f5b-af6c-e14f5aecd75d","instanceIdentifier":"df1593e6-0185-1000-0000-00006bba9d2a","name":"Default NiFi SSL Context Service","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.18.0.2.2.6.0-260"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/hadoopfs/fs4/working-dir/cm-auto-global_truststore.jks","Keystore Filename":"/hadoopfs/fs4/working-dir/cm-auto-host_keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.2.6.0-260"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.2.6.0-260"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"df484a5a-0185-1000-ffff-ffffb278af39"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}